.purchase-payment
  .payment-count
    .title
      Número de parcelas

    = form_tag update_payment_count_purchase_payment_path(@purchase), :method => :put do
      = select_tag :payment_count, options_for_select(@purchase.credit_card.available_payment_count(@current_user.potencial_compra), @purchase.payment_count)
      = button_tag "Atualizar", :disable_with => "Espere..."

      - price = @purchase.price
      .payment-price
        Valor da parcela:
        = format_price(price / @purchase.payment_count)

      .total-price
        Valor total:
        = format_price(price)

    = form_tag purchase_path(@purchase), :method => :get do
      = button_tag "Revisar compra", :disable_with => "Espere..."
