%html
%head
  %title
    Portal
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  = render :partial => 'layouts/top'

  - if flash[:alert]
    .alert
      = flash[:alert]
  - elsif flash[:notice]
    .notice
      = flash[:notice]

  .full
    = yield

  = render :partial => 'layouts/footer'